.header {
    position: fixed;
    top: 0;
    background-color: #072346;
    width: 1600px;
    left: 50%;
    transform: translateX(-50%);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998; /* 简化z-index值 */
    transition: height 0.3s, background-color 0.3s;
}
.header-left{
    width: 500px;
    margin-left:150px;
}
.header-left h2{
    color: #ffffff;
}
.header-right{
    margin-left: 200px;
    width:600px ;
}
.nav-link {
    text-decoration: none;
    color: black; 
    position: relative; 
    margin-right: 15px; 
}
.nav-link::after {
    content: '';
    position: absolute;
    left: -25px;
    bottom: -13px; 
    width: 250%;
    height: 2px; 
    background-color: rgb(247, 132, 108); 
    display: none;
}
.nav-link.active::after {
    display: block;
}
.header a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 50px;
}

.header.shrunk {
    height: 55px;
}  
.geren{
    position: fixed;
    top: 140px;
    left: 250px;
    width: 300px;
    height: 800px;
    background-color: #062255;
    z-index: 99999;
}
.geren-touxiang{
    margin: auto;
    width: 250px;
    height: 250px;
    border-width:0px 0px 1px 0px ;
    border-style:solid;
    border-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
} 
.geren-xinxi{
    margin: auto;
    width: 250px;
    height: 140px;
    border-width:0px 0px 1px 0px ;
    border-style:solid;
    border-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: small;
    line-height: 20px;
}
.geren-xinxi img{
    max-width: 10%;
    color: #ffffff;
}
.geren-lianxi{
    margin: auto;
    width: 250px;
    height: 150px;
    border-width:0px;
    border-style:solid;
    border-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: small;
    line-height: 20px;
}
.geren-touxiang img{
    margin-top: 30px;
    width: 50%;
    height: auto;
    border-radius: 50%; /* 将图像变成圆形 */
    object-fit: cover; /* 确保图像覆盖整个容器并保持纵横比 */
}
.gou{
    margin:auto;
    width: 150px;
    height: 30px;
    padding-top: 4px;
    border-radius: 30px;
    background-color: #c11e09;
}
.gou a{
    text-decoration: none;
    color: #ffffff;
}
.zhengti {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 3000px;
    width: 1600px;
    background-color: #093264;
    overflow-x: auto;
}
.beijing img{
    position: relative;
    width: auto;
    min-width: 100%;
    min-height: 100%;
}
.beijing h1{
    position: absolute;
    color: #ffffff;
    left: 780px;
    top: 250px;
    font-size: xx-large;
}
.beijing h2{
    position: absolute;
    color: #f9f9f9;
    left: 780px;
    top: 310px;
    font-size: large;
}
.mid-header{
    width: 890px;
    height: 450px;
    margin-left: 580px;
    margin-top: -280px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid-header-box{
    margin: 20px;
    width: 350px;
    height: 150px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5%;
    text-align: center;
    color:#ffffff;
    background-color: #062255;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.mid-header-box:hover{
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.453); /* 悬停时添加阴影 */
    transform: translateY(-2px); /* 悬停时卡片轻微上移 */
}
.mid-header-box img{
    width: 25%;
}
.mid-xian1{
    margin-top: 60px;
    color: #ffffff;
    width: 800px;
    margin-left: 620px;
}
.mid-xian1 hr{
    display: inline-block;
    width: 90%; /* 或者你想要的任何宽度 */
}
#article-list{
    margin-left: 600px;
    margin-top: 10px;
    width: 760px;
    border-radius: 1%;
    height: 1300px;
}
.article-card {
    background-color: #062255;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 850px;
    border: 1px solid #8f8d8d;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display:flex;
}
 
.article-card:hover {
    box-shadow: 5px 10px 20px rgba(144, 176, 218, 0.453); /* 悬停时添加阴影 */
  transform: translateY(-5px); /* 悬停时卡片轻微上移 */
}
 
.article-card img {
    width: 30%;
    height: auto;
}
 
.article-content {
    padding: 15px;
    font-size: 0.8em;
}
 
.article-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #caecfb;
}
 
.article-meta {
    color: #a7a6a6;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.article-excerpt {
    color: #ececec;
}
.mid-xian2{
    margin-top: 800px;
    color: #ffffff;
    width: 800px;
    margin-left: 620px;
}
.mid-xian2 hr{
    display: inline-block;
    width: 90%; /* 或者你想要的任何宽度 */
}
.footer{
    color: #ffffff;
    position: relative;
    margin: auto;
    width:1600px;
}
.footer img{
    width: 100%;
}
.footer-log{
    position: absolute;
    left: 570px;
    top: 20px;
}
.footer-lianxi{
    position: absolute;
    left: 1300px;
    top: 10px;
}
.footer-lianxi p{
    font-size: small;
}
.footer-wen{
    position: absolute;
    left: 880px;
    top: 125px;
}
.footer-wen h3{
    margin-left: -170px;
    font-size:0.9em;
}
.footer-wen p{
    font-size: small;
}